In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\richardswindells\documents\meta-course\.venv\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\richardswindells\documents\meta-course\.venv\lib\site-packages (from mysql-connector-python) (3.20.3)

In [3]:
# Import MySQL Connector/Python 
import mysql.connector as connector
connection=connector.connect(user="root",password="P0llyp9lly./", database="littlelemondb")

In [5]:
cursor = connection.cursor()
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [6]:
result=cursor.fetchall()
print (result)

[('bookings',), ('customer',), ('menu',), ('orders',), ('orderstatus',), ('ordersview',), ('staff',)]

In [11]:
querystring = """
select  
	name as FullName,
	c.address, 
    c.city, 
    c.country, 
    c.email, 
    c.phone,  
    cast((quantity * price) as decimal(7,2)) as Cost, 
    m.Cuisine as MenuName 
from orders o 
join menu m on o.menu_id = m.menu_id 
join bookings b on o.booking_id = b.booking_id
join customer c on b.customer_id = c.customer_id
where quantity * price > 60
order by quantity * price ;
"""

cursor.execute(querystring);
result = cursor.fetchall()
for item in result:
    print(item)

('Gail Porter', 'Charnwood Way', 'York', 'United Kingdom', 'gail@twitter.com', '43767437', Decimal('178.00'), 'Italian')
('Harry Windsor', 'Epsom Grove', 'Bristol', 'United Kingdom', 'harry@meghan.com', '34643743', Decimal('304.00'), 'American')